.primeira{
    width: 500px;
    height: 500px;
    border-style: dashed;  
    background-color: rgb(180, 247, 230);
    text-align: center;
  }
  .segunda{
    display: inline-block;
    width: 500px;
    height: 500px;
    border-style: double;  
    background-color: rgb(189, 166, 252);
    text-align: center;
    color: white;
    border-color: black;
    border-radius: 2px;
  } 
  .terceira{
    width: 500px;
    height: 500px;
    border-style: dotted;  
    background-color: rgb(255, 73, 216);
    text-align: center;
    color: black;
    border-color: white;
    border-radius: 2px;
  } 